@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@font-face {
	font-family: 'ShareTech';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/ShareTech-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Tunic';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/Tunic.otf') format('opentype');
}

body {
	display: grid;
	grid-template-columns: repeat(5, minmax(0, 1fr));
	padding: 1rem;
	gap: 1rem;
	background-color: #111;
	color: #aaa;
	font-family: 'ShareTech', sans-serif;
}

header,
footer,
.panel {
	background-color: #222;
	z-index: 10;
	padding: 1rem;
}

@media (max-width: 1280px) {
	body {
		grid-template-columns: 1fr;
	}

	header,
	footer,
	div {
		grid-column: span 1 !important;
	}
}